@import url('https://fonts.google.com/specimen/Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
body {
    font-family: monospace;
    font-weight: 350;
    /*background-image: url("../starter-code/assets/home/background-home-desktop.jpg");*/
    
}

.topbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    

}
#logo {
    padding: 10px;
    size: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.vline {
    border-bottom: 2px solid whitesmoke;
    height: 50px;
}
.nav-bar{
    display: flex;
    
    flex-wrap: wrap;
    padding:27px;
    align-items: center;
    width: 50%;
    margin-bottom: 70px;
    padding-left: 20px;
   
    padding-right: 40px;
    padding-bottom: 1px;
    background-color: rgba(29, 58, 81, 0.765);
    
}

.nav{
    margin-right: 50px;
    color: rgb(171, 181, 198);
    font-weight: 300;
    text-decoration: none;
    font-style: oblique;
    padding: 10px;
    
}
.nums {
    font-weight: 900;
    color: white;
    font-size: larger;
    font-style: oblique;
}
a:hover{
    border-bottom: 3px solid azure;
    height: -2px;
   
    
    
}
.medium-text {
    width: 500px;
    color: rgb(171, 181, 198);
    margin-top: 80px;
    
    font-size: 25px;
    
}
.large-text {
    width: 200px;
    color: white;
    
    font-size: 120PX;
    font-family:'Cormorant Garamond';

}
.small-text {
    width: 470px;
    color: rgb(171, 181, 198);
    line-height: 25px;
    font-size: 13px;
}
.white-circle {
    display: flex;
    color: black;
    background-color: white;
    width: 250px;
    height: 250px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-top: 300px;
    font-size: 45px;
    font-weight:100;
    margin-bottom: 90px;
    text-decoration: none;
    
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}
.white-circle:hover{

    background-color:rgb(179, 174, 174) ;
}
.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.heading {
    color: white;
    font-size: 20px;
    font-style: oblique;
}
.heading-nums{
    color:rgb(179, 174, 174);
    font-style: normal;
    font-size: 22px;
    margin-top: 20%;
    margin-left: 10%;


}
.img-text {
    display: flex;
    
    justify-content: space-around;
}

.dest-text {
    color: white;
    font-size: 70px;
    font-size: large;
}
.dest-nav {
    color: rgb(171, 181, 198);
    text-decoration: none;
    padding-bottom: 6px;
    margin-top: 200px;
    margin-right: 10px;
   

    
}
.description {
    width: 500px;
}
.dest {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 15px;
}
.dest-image {
    padding-top: 80px;
}
.description{
    width: 500px;
    font-size: 20px;
    color: rgb(171, 181, 198);
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}
.distance-time {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    line-height: 30px;
}
.distance-text{
    color:rgb(171, 181, 198) ;
}
.time-text{
    color:rgb(171, 181, 198) ;

}
.distance-nums{
    font-size: 30px;
}
.time-months{
    font-size: 30px;
}


   